p, h3 {
    margin: 0;   
}
.list-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 3rem auto 0;
}
.thumbnail {
    flex-grow: 1;
    width: 400px;
    height: 400px;
}
.loompa-img{
    height: 16rem;
    width: 480px;
    object-fit: cover;
}
.spin {
    margin: 0 auto;
}
.loompa-thumb-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 480px;
    margin: 1.3rem;
}
/* visited wont work until re-render issue gets fixed */
.name:visited {
    color: lightskyblue;
  }