.navbar {
    display: flex;
    flex-direction: column;
}
.navbar_logo_container {
    display: flex;
    justify-content: flex-start;
    background-color: lightgray;
}
.navbar_logo {
    margin: 1em 2em 0 10em;
    height: 40px;
}
